---
import "@fontsource-variable/nunito";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>kcela</title>
  </head>
  <body class="bg-blue-900 text-white">
    <div class="flex flex-col justify-center items-center h-screen w-screen">
      <h1 id="title" class="text-9xl">
        kcela<span class="text-amber-300">.</span>
      </h1>
      <div id="profile-links" class="flex flex-row gap-x-6 text-xl font-bold mb-6 mt-2">
        <a  href="https://osu.ppy.sh/users/266596"
          >osu!</a
        >
		|
        <a href="https://github.com/ksee97">Github</a>
      </div>
	  <div class="latex4000Webring font-semibold text-md text-center">
		<a href="https://nonacademic.net" title="Collective">Latex 4000</a>
		<div class="latex4000WebringButtons">
			<a href="https://nonacademic.net/ring?action=prev&amp;from=kcela" title="Previous">←</a>
			<a href="https://nonacademic.net/ring?action=rand&amp;from=kcela" title="Random">Random</a>
			<a href="https://nonacademic.net/ring?action=next&amp;from=kcela" title="Next">→</a>
		</div>
	</div>
    </div>
    <script>
      import gsap from "gsap";

      gsap.fromTo(
        "#title",
        { opacity: 0, x: -80 },
        { opacity: 1, x: 0, duration: 0.8 }
      );
      gsap.fromTo(
        "#profile-links",
        { opacity: 0, x: 80 },
        { opacity: 1, x: 0, duration: 0.8 }
      );
	  gsap.fromTo(
        ".latex4000Webring",
        { opacity: 0, y: 40 },
        { opacity: 1, y: 0, duration: 0.8 }
      );
    </script>
  </body>
</html>

<style>
	a {
		@apply underline hover:text-amber-300 duration-200 transition-colors
	}
</style>